:root{
  --foreground: #ffffff;
  --background: #000000;

  --foreground-opacity-50: #ffffff80;
  --background-opacity-50: #00000080;

  --card-background: #101010;
  --card-background-hover: #202020;
  
  --icon-background-hover: #363636;

  --text-color: red;
}