@import url("https://use.typekit.net/klg1xpz.css");

body{
  font-family: "montserrat", sans-serif, Helvetica, sans-serif;
  line-height: 1.75;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6{
  font-family: "montserrat", sans-serif, Helvetica, sans-serif;
  max-width: fit-content;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 18px;
}

h5{
  font-size: 16px;
}

h6{
  font-size: 12px;
}

p, em, strong, i{
  margin-bottom: 20px;
  font-size: 14px;
}

a {
  color: var(--foreground);
  text-decoration: none;
  display: inline-block;
}

.white-text {
  color: var(--gray-0);
}

.li::marker{
  font-size: 20px;
}